html{ 
  background: black;
  color: aliceblue;
  margin: 2em;

}

.my-container {
    width: 90%;
    margin: 0px auto;
    padding-left: 10em;
    
}

.content{
    max-width: 900px;
    margin: 1em auto;
    font-family: 'Rock Salt', cursive;
}
header{
     font-family: 'Rock Salt', cursive;
      font-size: 3em;
}   

h2 {
    font-family: 'Rock Salt', cursive;
    padding-left: 3em;
}

.content li{
    text-transform: lowercase;
    margin-bottom: 1em;
}
.content span {
    text-transform: capitalize;
}
.name{
    font-weight: bold;   
}
.addr:after{
    content: ',';   
}
.fa-refresh{
    font-size: 5em;
    color: #999;
    position: relative;
    left: 35%;
    margin-top: 1em;
}